.table-container {
    height: 45vh;
    overflow-y: auto;
}

.chart-container {
    height: auto;
}

.chart-element {
    height: 32vh;
}

.chart-element.pie {
    width: 35vw;
}

.chart-element.bar {
    width: 20vw;
}

.table {
    white-space: nowrap;
}

.dark .table,
.dark .table>th,
.dark .table>td {
    background: none;
}

.dark .table th,
.dark .table td,
.dark .table thead th,
.dark .table tbody+tbody {
    border-style: none;
}

.dark .table {
    color: var(--dark-font-color);
    background: none;
}

.dark .table th,
.dark .table td,
.dark .table thead th {
    background: none;
}

.dark .table.table-bordered {
    border: 0;
}

.dark .table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
    background: none;
}

.dark .table.table-hover tbody tr:hover {
    color: var(--dark-font-color);
    background: none;
}


/* LIGHT */

.light .table,
.light .table>th,
.light .table>td {
    background: none;
    color: var(--light-font-color);
}

.light .table th,
.light .table td,
.light .table thead th,
.light .table tbody+tbody {
    border-style: none;
}

.light .table-hover .table:hover {
    background: none;
}

.light .table-hover .table:hover>td,
.light .table-hover .table:hover>th {
    background: none;
}